@page "/BrowseSocks"
@using HttpClients.ClientInterfaces
@using global::Shared.Models
@inject ISockCardService sockService;

    <h3>Browse Socks</h3>
<button onclick="@LoadData">load</button>
    <p>@msg</p>
    <div class="product-card-container">
    @if (sockCards != null)
    {
        
            @foreach (SocksCard card in sockCards)
            {
                <div class="card">
                    
                        <img src="@card.Image ">
                   
                    <div class="card_info">
                        <p><b>@card.Price €</b></p>
                        <p>@card.Title</p>
                    </div>
                </div>
            }
    }
    </div>




@code {

  
    private ICollection<SocksCard> sockCards;
    private string msg = "";

    protected async  void LoadData()
    {
        try
        {
            
            sockCards = await sockService.GetAllSockCards();
            msg = "data loaded";
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
        
    }

    protected  async override void OnInitialized()
    {
        sockCards = await sockService.GetAllSockCards();
    }

}