@page "/ManageSocks"
@using HttpClients.ClientInterfaces
@using global::Shared.Models
@inject ISockService sockService;
@inject NavigationManager _navigationManager

<h3>ManageSocks</h3>
<button onclick="@LoadCards">Load</button>
@if(sockCards ==null){
}
else if (!sockCards.Any())
{
    <p>no sock cards</p>
}
else
{
    <table class="table">
        <thread>
            <th>id</th>
            <th>title</th>
            <th>button1</th>
            <th>button2</th>
        </thread>
        <tbody>
        @foreach (var card in sockCards)
        {
            <tr>
                <td>@card.Id</td>
                <td>@card.Title</td>
                <td><button @onclick="@(()=>Edit(@card.Id))">edit</button></td>
                <td><button @onclick="@(()=>RemoveCardById(@card.Id))">remove</button></td>
            </tr>
        }
        </tbody>
    </table>
    <p>@msg</p>
}

@code {
    private ICollection<ProductCardSock> sockCards;
    private ICollection<ProductCardSock> sockCardsLoaded;
    private string msg = "";

    private async void LoadCards()
    {
        try
        {
            base.OnInitialized();
            sockCardsLoaded = await sockService.GetAllSockCards();
            sockCards = sockCardsLoaded;
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw ;
        }
        
    }
    public void Edit(int cardId)
    {
        _navigationManager.NavigateTo($"EditSockCard/{cardId}");
    }

    private async Task RemoveCardById(int id)
    {
        try
        {
            await sockService.RemoveProductCardSockById(id);
            msg = "card removed succesfully";
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
        LoadCards();
       
    }


}