@page "/BrowseSocks"
@using HttpClients.ClientInterfaces
@using global::Shared.Models
@inject ISockService sockService;
<div class="container">
    <h3>Browse Socks</h3>
    
   
    <button onclick="@LoadData">load</button>
    <p>@msg</p>
    @if (sockCards != null)
    {
        
            @foreach (ProductCardSock card in sockCards)
            {
                <div class="card">
                    <div class="card_title">@card.Title</div>
                    <div class="card_info">
                        <p><label>description:</label>@card.Description</p>
                        <p><label>Brand:</label>@card.Brand</p>
                    </div>
                    
                    <div class="card_image">
                        <img src="@card.Image ">
                    </div>
                </div>
            }
    }


</div>



@code {

  
   

    private ICollection<ProductCardSock> sockCards;
    private ICollection<ProductCardSock> sockCardsLoaded;
    private string msg = "";

    protected async  void LoadData()
    {
        try
        {
            
            sockCards = await sockService.GetAllSockCards();
            msg = "data loaded";
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
        
    }

    protected  async override void OnInitialized()
    {
        base.OnInitialized();
        sockCardsLoaded = await sockService.GetAllSockCards();
        sockCards = sockCardsLoaded;
    }

}