@page "/BrowseSocks"
@using HttpClients.ClientInterfaces
@using global::Shared.Models
@inject ISockService sockService;
<div class="container">
    <h3>Browse Socks</h3>
    
   
    <button onclick="@LoadData">load</button>
    <p>@msg</p>
    @if (socksCards != null)
    {
        
            @foreach (SocksCard card in socksCards)
            {
                <div class="card">
                    <div class="card_title">@card.Title</div>
                    <div class="card_info">
                        <p><label>description:</label>@card.Description</p>
                        <p><label>Brand:</label>@card.Brand</p>
                    </div>
                    
                    <div class="card_image">
                        <img src="@card.Image ">
                    </div>
                </div>
            }
    }
</div>

@code {

    private ICollection<SocksCard> socksCards;
    private ICollection<SocksCard> socksCardsLoaded;
    private string msg = "";

    private async void LoadData()
    {
        try
        {
            
            socksCards = await sockService.GetAllSockCards();
            msg = "data loaded";
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
        
    }

    protected override async void OnInitialized()
    {
        base.OnInitialized();
        socksCardsLoaded = await sockService.GetAllSockCards();
        socksCards = socksCardsLoaded;
    }

}